body {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h1 {
  font-size: 3rem;
  text-align: center;
  animation: bounceIn 1s ease-out;
}
p{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    animation: bounceOut 1s ease-out;
}

form {
  max-width: 500px;
  margin: 50px auto;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

label,
input,
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

input[type="file"] {
  border-bottom: 0;
}

.btn {
  background: #f9748f;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.btn:hover {
  background: #fd868c;
}
